extends layout

block content
	.textalign-center
		h1 Opleiding #[img(src="images/repoz1.jpg")] Stretchingstechniek
		p opleidingen 16 december en 11 januari zijn volzet!!
		p volgende opleiding op
		h1.gold woensdag 27 januari 2016
		p van 19u30 tot 22u00
		p kostprijs 50 euro (incl. syllabus)
		p minimum 6 deelnemers
		p inschrijven via
		h1.gold bart.willockx@telenet.be
		p
		p Sportverzorgingscentrum    Vierhuizen 10  9255 Buggenhout   00 32 498 51 58 94
		.mainpage-imgs
			img(src="images/naqi.jpg")
			img(src="images/repoz1.jpg")
			img(src="images/logo_pianto.jpg")
